nav.navbar
	div.container.navbar__container
		ul.nav-navbar
			each value, i in content.site.nav.links
				li.nav-navbar__item
					a.nav-navbar__link(href= value.href)
						span.nav-navbar__text= value.displayName