/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/icons/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.eot");
  src: url("../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick/slick.woff") format("woff"), url("../fonts/slick/slick.ttf") format("truetype"), url("../fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: none;
}

[dir="rtl"] .slick-prev:before {
  content: none;
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: none;
}

[dir="rtl"] .slick-next:before {
  content: none;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 7px;
  width: 7px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 7px;
  width: 7px;
  -webkit-box-shadow: 0 0 0 2px #282828;
          box-shadow: 0 0 0 2px #282828;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: none;
  width: 13px;
  height: 13px;
  font-family: "slick";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button {
  background-color: #282828;
}

.slick-dots li.slick-active button:before {
  color: #282828;
  opacity: 1;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
input[type=radio]:hover, input[type=checkbox]:hover, select:hover {
  cursor: pointer;
}

input[type=radio]:focus, input[type=checkbox]:focus, select:focus {
  outline: none;
}

/* form */
.text-danger {
  color: #b94a48;
  text-align: left;
}

.form-group.error .form-control {
  border-color: #b94a48;
}

[type=submit]:disabled {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

/* icons */
.ic {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.ic:before {
  background-size: contain;
  background-repeat: no-repeat;
}

.ic--plane:before {
  background-image: url(../img/icons/navigation.png);
}

.ic--cinema:before {
  background-image: url(../img/icons/film-roll.png);
}

.ic--date:before {
  width: 21px;
  height: 20px;
  background-image: url(../img/icons/calendar.png);
}

@media only screen and (max-width: 767px) {
  .ic--marvel:before {
    width: 39px;
    height: 9px;
    background-image: url(../img/marvel-s.png);
  }
  .ic--spidermanBlack:before {
    width: 277px;
    height: 55px;
    background-image: url(../img/spiderman-black-m.png);
  }
  .ic--spidermanWhite:before {
    width: 278px;
    height: 54px;
    background-image: url(../img/spiderman-white-m.png);
  }
  .ic--real3dWhite:before {
    width: 88px;
    height: 10px;
    background-image: url(../img/real3d-white-s.png);
  }
  .ic--real3dBlack:before {
    width: 104px;
    height: 12px;
    background-image: url(../img/real3d-black-s.png);
  }
  .ic--plane:before {
    width: 27px;
    height: 27px;
  }
  .ic--cinema:before {
    width: 22px;
    height: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .ic--marvel:before {
    width: 68px;
    height: 15px;
  }
  .ic--spidermanBlack:before {
    width: 432px;
    height: 85px;
    background-image: url(../img/spiderman-black-s.png);
  }
  .ic--spidermanWhite:before {
    width: 478px;
    height: 94px;
    background-image: url(../img/spiderman-white-s.png);
  }
  .ic--real3dWhite {
    margin-top: -3px;
  }
  .ic--real3dWhite:before {
    width: 151px;
    height: 17px;
    background-image: url(../img/real3d-white-s.png);
  }
  .ic--real3dBlack:before {
    width: 162px;
    height: 18px;
    background-image: url(../img/real3d-black-s.png);
  }
  .ic--plane:before {
    width: 27px;
    height: 27px;
  }
  .ic--cinema:before {
    width: 22px;
    height: 25px;
  }
}

@media only screen and (min-width: 1000px) {
  .ic--marvel:before {
    width: 105px;
    height: 23px;
    background-image: url(../img/marvel.png);
  }
  .ic--spidermanBlack:before {
    width: 618px;
    height: 122px;
    background-image: url(../img/spiderman-black.png);
  }
  .ic--spidermanWhite:before {
    width: 742px;
    height: 145px;
    background-image: url(../img/spiderman-white.png);
  }
  .ic--real3dWhite:before {
    width: 235px;
    height: 27px;
    background-image: url(../img/real3d-white.png);
  }
  .ic--real3dBlack:before {
    width: 232px;
    height: 26px;
    background-image: url(../img/real3d-black.png);
  }
  .ic--plane:before {
    width: 39px;
    height: 39px;
    background-image: url(../img/icons/navigation.png);
  }
  .ic--cinema:before {
    width: 32px;
    height: 36px;
    background-image: url(../img/icons/film-roll.png);
  }
}

/* heading */
.sub-heading {
  margin: 0;
  color: #0a0a0a;
  text-transform: uppercase;
  font: 300 40px/42px "PTSansProNarrow", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .sub-heading {
    font: 300 20px/22px "PTSansProNarrow", sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .sub-heading {
    font: 300 27px/29px "PTSansProNarrow", sans-serif;
  }
}

@media only screen and (min-width: 1000px) {
  .sub-heading {
    font-size: 40px;
    line-height: 42px;
  }
}

/* slick slider */
.slick-slide:focus {
  outline: none;
}

/* buttons */
.btn {
  min-width: 251px;
  padding: 11px 15px;
  letter-spacing: 1.33px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.btn:hover, .btn:focus {
  outline: none;
}

.btn--default {
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fefefe));
  background-image: -webkit-linear-gradient(bottom, #ddd 0%, #fefefe 100%);
  background-image: linear-gradient(to top, #ddd 0%, #fefefe 100%);
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 17px 21px rgba(0, 0, 0, 0.13);
          box-shadow: 0 17px 21px rgba(0, 0, 0, 0.13);
  color: #00091e;
  font: 700 16px/28px "PTSansProNarrow", sans-serif;
  text-transform: uppercase;
}

.btn--orange {
  -webkit-border-radius: 28px;
          border-radius: 28px;
  background-color: #f99515;
  -webkit-box-shadow: 0 21px 59px rgba(249, 149, 21, 0.5);
          box-shadow: 0 21px 59px rgba(249, 149, 21, 0.5);
  font: 700 20px/32px "PTSansProNarrow", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.btn--orange:hover, .btn--orange:focus {
  background-color: #ffd11d;
  color: #fff;
}

.btn__icon {
  padding: 0 7px;
  float: left;
}

@media only screen and (min-width: 768px) {
  .btn__icon {
    padding: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .btn--default {
    padding: 28px 37px 14px;
    font: 700 23px/25px "PTSansProNarrow", sans-serif;
    letter-spacing: 1.6px;
  }
  .btn--orange {
    padding-left: 35px;
    padding-right: 35px;
    font: 700 28px/57px "PTSansProNarrow", sans-serif;
    -webkit-border-radius: 42px;
            border-radius: 42px;
  }
}

/* modal */
.modal {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
.body {
  position: relative;
  background: url(../img/footer-bg-s.png) no-repeat scroll 50% 100%;
  background-color: #070707;
}

.body:before {
  content: '';
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 767px) {
  .body {
    padding-bottom: 302px;
  }
  .body:before {
    width: 180px;
    height: 250px;
    background: transparent url(../img/footer-icon-m.png) no-repeat scroll 0 0;
  }
}

@media only screen and (min-width: 768px) {
  .body {
    padding-bottom: 634px;
  }
  .body:before {
    width: 416px;
    height: 544px;
    background: transparent url(../img/footer-icon.png) no-repeat scroll 0 0;
  }
}

@media only screen and (min-width: 1000px) {
  .body {
    background: url(../img/footer-bg.png) no-repeat scroll 50% 100%;
    background-color: #070707;
  }
}

/* ---------------------------------------- */
/* S E C T I O N    N A V    S T Y L E      */
/* ---------------------------------------- */
.navbar {
  margin: 0;
  background-color: #181818;
}

.nav-navbar {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.nav-navbar__item {
  display: inline-block;
  vertical-align: top;
}

.nav-navbar__link {
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.nav-navbar__link:hover, .nav-navbar__link:focus {
  color: #fff;
  text-decoration: none;
}

.nav-navbar__link:hover .nav-navbar__text:before, .nav-navbar__link:focus .nav-navbar__text:before {
  width: 100%;
}

.nav-navbar__text {
  position: relative;
  border-bottom: 1px dashed #fff;
}

.nav-navbar__text:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  top: 100%;
  left: 0;
  background: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

@media only screen and (max-width: 767px) {
  .navbar__container {
    padding: 0;
  }
  .nav-navbar__item {
    display: table-cell;
    width: 1%;
    border-left: 1px solid #282828;
  }
  .nav-navbar__item:first-of-type {
    margin-right: -1px;
    border-left: none;
  }
  .nav-navbar__link {
    padding: 22px 13px;
    font: 700 12px/14px "PTSansProNarrow", sans-serif;
  }
  .nav-navbar__link:hover, .nav-navbar__link:focus {
    background-color: #222222;
  }
}

@media only screen and (min-width: 768px) {
  .nav-navbar {
    font: 700 20px/30px "PTSansProNarrow", sans-serif;
  }
  .nav-navbar__link {
    padding: 33px 13px 29px;
  }
  .nav-navbar__text {
    border-bottom-width: 2px;
  }
  .nav-navbar__text:before {
    height: 2px;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-navbar__link {
    padding: 20px 13px;
    font: 700 25px/53px "PTSansProNarrow", sans-serif;
  }
}

/* ------------------------------------------ */
/* S E C T I O N    H E A D E R    S T Y L E  */
/* ------------------------------------------ */
.header {
  position: relative;
  text-align: center;
}

.header__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.header__icon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.header__container {
  position: relative;
  z-index: 2;
}

.header__heading {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}

.header__text {
  color: #fff;
  text-transform: uppercase;
}

.header__text--prize {
  position: relative;
}

.age {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  opacity: .46;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 61px 0 29px;
  }
  .header__icon {
    background-image: url(../img/header-m.png);
  }
  .header__icon:before {
    background-image: url(../img/header-shadow-m.png);
  }
  .header__heading {
    padding-bottom: 10px;
    font: 300 17px/19px "PTSansProNarrow", sans-serif;
    letter-spacing: 5px;
  }
  .header__text--date {
    font: 700 22px/27px "PTSansProNarrow", sans-serif;
  }
  .header__text--format {
    padding: 10px 0;
    font: 900 14px/14px "PTSansProNarrow", sans-serif;
  }
  .header__text--prize {
    padding-left: 9px;
    font: 900 25px/33px "PTSansProNarrow", sans-serif;
  }
  .age {
    padding: 7px 0;
    width: 22px;
    height: 22px;
    top: -3px;
    right: -9px;
    -webkit-box-shadow: 0 0 0 1px #fff;
            box-shadow: 0 0 0 1px #fff;
    font: 300 7px/9px "PTSansProNarrow", sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 109px 38px 40px;
  }
  .header__icon {
    background-image: url(../img/header-s.png);
  }
  .header__icon:before {
    background-image: url(../img/header-shadow-s.png);
  }
  .header__heading {
    font: 300 30px/33px "PTSansProNarrow", sans-serif;
    letter-spacing: 8px;
  }
  .header__text {
    line-height: 50px;
  }
  .header__text--date {
    font: 700 39px/51px "PTSansProNarrow", sans-serif;
    letter-spacing: 1.5px;
  }
  .header__text--format {
    font: 700 24px/43px "PTSansProNarrow", sans-serif;
    letter-spacing: 2.3px;
  }
  .header__text--prize {
    padding-left: 49px;
    font: 900 43px/65px "PTSansProNarrow", sans-serif;
    letter-spacing: 1px;
  }
  .age {
    padding: 12px 0;
    width: 39px;
    height: 39px;
    top: -10px;
    right: -15px;
    -webkit-box-shadow: 0 0 0 2px #fff;
            box-shadow: 0 0 0 2px #fff;
    font: 300 14px/18px "PTSansProNarrow", sans-serif;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 127px 90px 62px;
  }
  .header__icon {
    background-image: url(../img/header.png);
  }
  .header__icon:before {
    background-image: url(../img/header-shadow.png);
  }
  .header__heading {
    font: 300 46px/48px "PTSansProNarrow", sans-serif;
    letter-spacing: 10px;
  }
  .header__text {
    line-height: 78px;
  }
  .header__text--date {
    font-size: 63px;
    line-height: 86px;
  }
  .header__text--format {
    font-size: 40px;
    line-height: 70px;
  }
  .header__text--prize {
    padding-left: 77px;
    font-size: 64px;
    line-height: 107px;
    letter-spacing: 3px;
  }
  .age {
    width: 62px;
    height: 62px;
    top: -16px;
    right: -43px;
    -webkit-box-shadow: 0 0 0 3px #fff;
            box-shadow: 0 0 0 3px #fff;
    font: 300 23px/42px "PTSansProNarrow", sans-serif;
    text-transform: uppercase;
  }
}

/* ------------------------------------------ */
/* S E C T I O N    A C T I O N    S T Y L E  */
/* ------------------------------------------ */
.action {
  overflow: hidden;
  text-align: center;
}

.action__container {
  position: relative;
  background-color: #fff;
}

.action__heading {
  margin: 0;
  letter-spacing: 1.4px;
}

.action__text {
  color: #0a0a0a;
  letter-spacing: 1.1px;
}

.action__text--format {
  padding: 10px 0;
  color: #00091e;
  text-transform: uppercase;
}

.action__text--stock {
  padding: 10px 0;
}

.action__btn {
  margin: 14px;
}

.copyright {
  position: absolute;
  width: 100%;
  top: 0;
  left: 15px;
  right: -100%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: right top 0;
      -ms-transform-origin: right top 0;
          transform-origin: right top 0;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
}

@media only screen and (max-width: 767px) {
  .action {
    margin-bottom: 38px;
  }
  .action__container {
    padding: 32px 0 0;
  }
  .action__heading {
    padding-bottom: 26px;
  }
  .action__text--format {
    font: 700 23px/25px "PTSansProNarrow", sans-serif;
  }
  .action__text--stock {
    font: 400 24px/26px "PTSansProNarrow", sans-serif;
  }
  .action__btn-group {
    padding: 15px 0 0;
  }
  .action__btn--orange {
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .action {
    margin-bottom: 20px;
  }
  .action__container {
    padding: 56px 15px 0;
  }
  .action__heading {
    padding-bottom: 33px;
  }
  .action__text--format {
    font: 700 37px/45px "PTSansProNarrow", sans-serif;
  }
  .action__text--stock {
    font: 400 33px/36px "PTSansProNarrow", sans-serif;
  }
  .action__btn-group {
    padding: 10px 0;
  }
  .action__btn--orange {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .action {
    margin-bottom: 28px;
  }
  .action__container {
    padding: 71px 15px 0;
  }
  .action__heading {
    padding-bottom: 44px;
    font-size: 59px;
    line-height: 61px;
  }
  .action__text--format {
    padding: 32px 0;
    font-size: 39px;
    line-height: 41px;
    letter-spacing: 4px;
  }
  .action__text--stock {
    font-size: 44px;
    line-height: 46px;
  }
  .action__btn {
    margin: 24px 12px;
    min-width: 360px;
  }
  .action__btn--orange {
    margin: 3px;
  }
}

/* ---------------------------------------- */
/* S E C T I O N    V I D E O    S T Y L E  */
/* ---------------------------------------- */
.video {
  margin: 0 -15px;
}

.video__img {
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .video__heading {
    padding: 33px 0 38px;
  }
}

@media only screen and (min-width: 768px) {
  .video__heading {
    padding: 35px 0 64px;
  }
}

@media only screen and (min-width: 1000px) {
  .video__heading {
    padding: 61px 0 38px;
    font: 300 40px/42px "PTSansProNarrow", sans-serif;
  }
}

/* -------------------------------------------- */
/* S E C T I O N    P R O D U C T    S T Y L E  */
/* -------------------------------------------- */
.product {
  margin-bottom: 18px;
}

.product__container {
  padding-top: 38px;
  padding-bottom: 19px;
  background-color: #fff;
}

.product__heading {
  padding-bottom: 22px;
}

/* product carousel */
.slider {
  position: relative;
}

.slider__col {
  outline: none;
}

.slider__indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider__img {
  margin: 0 auto;
  max-height: 200px;
}

.slider__descr {
  padding: 5px 0;
  color: #282828;
  font: 400 22px/24px "PTSansProNarrow", sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
}

.company {
  display: table;
  padding: 36px 20px 0px;
  width: 100%;
  text-align: center;
}

.company__item {
  display: table-cell;
  vertical-align: middle;
}

.company__img {
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .product {
    padding: 14px 0 0;
  }
  .product__container {
    padding-top: 45px;
  }
  .company {
    padding: 56px 20px 18px;
  }
  .company__item {
    padding: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .product__heading {
    padding-bottom: 30px;
  }
  .slider__photo {
    padding-top: 30px;
  }
  .slider__descr {
    padding-top: 27px;
  }
  .slider .company__item {
    width: 1%;
  }
}

@media only screen and (min-width: 1000px) {
  .product {
    padding-top: 30px;
  }
  .product__descr {
    padding-top: 27px;
  }
  .slider__descr {
    font-size: 28px;
    line-height: 31px;
  }
  .company {
    padding: 51px 0;
  }
  .company__img {
    padding: 20px;
  }
}

/* ------------------------------------------------------ */
/* S E C T I O N    R E G I S T R A T I O N    S T Y L E  */
/* ------------------------------------------------------ */
.registration__container {
  background-color: #fff;
  padding-top: 66px;
}

.registration__item {
  padding: 24px 0;
  border-bottom: 1px dashed #ddd;
}

.registration__btn-group {
  text-align: center;
}

.registration__rule {
  display: inline-block;
  padding: 20px 0;
  opacity: .41;
  color: #000;
  font: 700 13px/15px "PTSansProNarrow", sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
}

.form__group {
  position: relative;
}

.form__heading {
  color: #0a0a0a;
}

.form__sub-heading {
  color: #898989;
  font: 300 14px/17px "PTSansProNarrow", sans-serif;
}

.form__group {
  margin: 10px 0;
  font: 300 17px/19px "PTSansProNarrow", sans-serif;
}

.form__control {
  padding: 10px;
  background-color: #f3f3f3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 0 2px #ebebeb;
          box-shadow: 0 0 0 2px #ebebeb;
  border: none;
  color: #000;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.form__control--input-group {
  width: 100%;
  padding-left: 15px;
  padding-right: 40px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eaeaea), to(#fcfcfc));
  background-image: -webkit-linear-gradient(bottom, #eaeaea 0%, #fcfcfc 100%);
  background-image: linear-gradient(to top, #eaeaea 0%, #fcfcfc 100%);
  color: #0a0a0a;
}

.form__descr {
  opacity: .87;
}

.form__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__label {
  color: #0a0a0a;
}

.promo__item {
  padding: 10px 0;
}

.example__key {
  color: #f18b00;
  text-decoration: underline;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-group--select:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 0 solid transparent;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top: 6px solid #cdd4d8;
  pointer-events: none;
}

.input-group:after {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 80%;
  top: 10%;
  right: 38px;
  background-color: #ecf1f2;
}

.select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media only screen and (max-width: 767px) {
  .form__heading {
    font: 600 16px/18px "PTSansProNarrow", sans-serif;
    text-align: center;
  }
  .form__heading--test {
    padding-bottom: 15px;
    text-align: left;
  }
  .form__heading--text-left {
    text-align: left;
  }
  .form__heading--film {
    padding: 10px 0;
    text-align: left;
  }
  .form__group {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__control {
    width: 100%;
    max-width: 340px;
    text-align: center;
  }
  .form__descr {
    font: 300 11px/13px "PTSansProNarrow", sans-serif;
    text-align: center;
  }
  .form__label {
    font: 400 16px/18px "PTSansProNarrow", sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .form__control {
    padding: 10px 25px;
    width: 100%;
  }
}

/* ------------------------------------------ */
/* S E C T I O N    F O O T E R    S T Y L E  */
/* ------------------------------------------ */
