- var page = {}
- var hostname = "" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        nav: {
          links: [
            {
              href: "#action",
              displayName: "Участвуйте в акции"
            },

            {
              href: "#registration",
              displayName: "Регистрируйте промо-код"
            }
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Человек паук, возвращение домой",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        header: {
          heading: "Смотрите",
          icons: {
            marvel: "ic--marvel",
            spidermanWhite: "ic--spidermanWhite",
            real3dWhite: "ic--real3dWhite"
          },
          text: {
            date: "в кино с 6 июля",
            format: "в формате ",
            prize: "и выигрывайте призы!"
          },
          age: "+16"
        },
        action: {
          heading: "Купите <b>2 билета</b> на фильм",
          icons: {
            spidermanBlack: "ic--spidermanBlack",
            real3dBlack: "ic--real3dBlack",
            plane: "ic--plane",
            cinema: "ic--cinema"
          },
          text: {
            format: "в формате ",
            stock: "и участвуйте в акции:"
          },
          btns: {
            city: "Выберите город",
            cinema: "Выберите кинотеатр",
            buy: "Купить билет"
          },
          copyright: "MARVEL and all related character names: &copy; &amp; &#8482; 2017 MARVEL. Spider-Man: Homecoming, the Movie &copy;2017 CPII. All Rights Reserved. Количество подарков ограничено. Не является офертой."
        },
        video: {
          heading: "Подробнее об акции",
          img: {
            src: "video.jpg",
            alt: "Трейлер"
          }
        },
        product: {
          heading: "Призы",
          items: 
          [
            {
              img: {
                src: "product-2.png",
                alt: "Sony PlayStation 4 Slim"
              },
              descr: "Sony PlayStation 4 Slim"
            },
            {
              img: {
                src: "product-1.png",
                alt: "Super Heroes"
              },
              descr: "Наборы LEGO &reg; Marvel&trade; Super Heroes"
            },
            {
              img: {
                src: "product-3.png",
                alt: "Фигурка «Человек-паук» Hasbro"
              },
              descr: "Фигурка «Человек-паук» Hasbro"
            },
            {
              img: {
                src: "product-4.png",
                alt: "Интерактивная маска Человек-паук Hasbro"
              },
              descr: "Интерактивная маска Человек-паук Hasbro"
            }
          ],
          company: {
            img: [
              {
                src: "lego.png",
                alt: "lego"
              },
              {
                src: "hasbro.png",
                alt: "hasbro"
              },
              {
                src: "playstation.png",
                alt: "playstation"
              }
            ]
          }
        },
        registration: {
          heading: "Зарегистрируйте <b>ваш код:</b>",
          promo: [
            {
              heading: "Выберите кинотеатр: ",
              class: "select--reg-cinema",
              name: "cinema",
              select: [
                {
                  option: "Киномакс",
                  value: "0"
                },
                {
                  option: "Каро",
                  value: "1"
                },
                {
                  option: "Синема парк",
                  value: "2"
                },
              ]
            },
            {
              heading: "Как совершалась покупка: ",
              class: "select--online",
              name: "online",
              select: [
                {
                  option: "Онлайн",
                  value: "1"
                },
                {
                  option: "Офлайн",
                  value: "0"
                },
              ]
            },
            {
              heading: "Номер промо-кода: ",
              text: "Например, ",
              placeholder: "ХХХXХХХХХ",
              key: "KLXM0002",
              code: "promo__item--code",
              name: "promocode",
              promoGroup: 'form--promo',
              btn: "Применить",
              validation: {
                message: "Введите промо-код"
              }
            },
            {
              heading: "Номер первого билета: ",
              mask: "№ 999-999-999",
              placeholder: "№ ХХХ-ХХХ-ХХХ",
              text: "Например, ",
              key: "112-332-456",
              name: "ticket1",
              validation: {
                message: "Введите номер билета"
              }
            },
            {
              heading: "Номер второго билета: ",
              mask: "№ 999-999-999",
              placeholder: "№ ХХХ-ХХХ-ХХХ",
              text: "Например, ",
              key: "112-332-456",
              name: "ticket2",
              validation: {
                message: "Введите номер билета"
              }
            }
          ],
          personal: [
            {
              heading: "E-mail для связи",
              name: 'email'
            },
            {
              heading: "Ваша дата рождения:",
              text: "02/12/1992 г.",
              icon: "ic--date",
              name: "date"
            },
            {
              heading: "Ваш пол:",
              items: [
                "МУЖ",
                "ЖЕН"
              ],
              name: "gender"
            }
          ],
          test: [
            {
              heading: "Сколько раз в месяц вы ходите в кино: ",
              items: {
                radio: [
                  "не хожу каждый месяц",
                  "один раз",
                  "два раза",
                  "три раза",
                  "больше трех"
                ]
              }
            },
            {
              heading: "Как часто вы ходите в кино на формат 3D:",
              items: {
                radio: [
                  "Каждый поход в кино",
                  "В половине случаев",
                  "Только если специальная цена или предложение",
                  "Не хожу в 3D"
                ]
              }
            },
            {
              heading: "Каким жанрам в 3D вы отдавали предпочтение последние полгода:",
              subHeading: "(отметьте несколько, если смотрели больше одного фильма из списка)",
              films: {
                heading: "Фильмы:",
                items: [
                  "Экшн («Конг: Остров Черепа» или «Меч Короля Артура»)",
                  "Семейный («Красавицы и Чудовище» или «Пираты Карибского моря: мертвецы не рассказывают сказки»",
                  "Анимация («Босс-молокосос» или «Зверопой»)",
                  "Супергеройские («Стражи Галактики, Часть 2» или «Чудо-женщина»)"
                ]
              }
            },
            {
              heading: "Есть ли у вас карта лояльности какой-нибудь киносети:",
              items: {
                checkbox: {
                  item1: [
                    "Синема Парк",
                    "Формула кино", 
                    "Каро",
                    "Киномакс",
                    "Премьер-зал",
                  ],
                  item2: [
                    "Люксор  ",
                    "Мираж Синема",
                    "Синема Стар",
                    "Монитор",
                    "Пять звезд"
                  ]
                },
                validation: {
                  minchecked: "1",
                  message: "Выберите минимум 1 чекбокс"
                }
              }
            }
          ],
          btns: {
            logup: {
              text: "Зарегистрировать",
              name: "Форма регистации"
            },
            rule: {
              text: "Правила акции"
            }
          }
        }
      }, //- index
    }