- var page = {}
- var hostname = "" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Участвуйте в акции"
            },

            {
              href: "/link2",
              displayName: "Регистрируйте промо-код"
            }
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Человек паук, возвращение домой",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        header: {
          heading: "Смотрите",
          icons: {
            marvel: "ic--marvel",
            spidermanWhite: "ic--spidermanWhite",
            real3dWhite: "ic--real3dWhite"
          },
          text: {
            date: "в кино с 6 июля",
            format: "в формате ",
            prize: "и выигрывайте призы!"
          },
          age: "+16"
        },
        action: {
          heading: "Купите <b>2 билета</b> на фильм",
          icons: {
            spidermanBlack: "ic--spidermanBlack",
            real3dBlack: "ic--real3dBlack",
            plane: "ic--plane",
            cinema: "ic--cinema"
          },
          text: {
            format: "в формате ",
            stock: "и участвуйте в акции:"
          },
          btns: {
            city: "Выберите город",
            cinema: "Выберите кинотеатр",
            buy: "Купить билет"
          },
          copyright: "MARVEL and all related character names: &copy; &amp; &#8482; 2017 MARVEL. Spider-Man: Homecoming, the Movie &copy;2017 CPII. All Rights Reserved. Количество подарков ограничено. Не является офертой."
        },
        video: {
          heading: "Подробнее об акции",
          img: {
            src: "video.jpg",
            alt: "Трейлер"
          }
        }
      }, //- index
    }