mixin sliderCols(count)
  if (count % 2 == 0)
    .col-xs-12.col-sm-5.col-sm-offset-1.col-lg-6.col-lg-offset-0.slider__col
      if(block)
        block
  else
    .col-xs-12.col-sm-5.col-lg-6.slider__col
      if(block)
        block

section.product
  .container.product__container
    .row
      .col.xs-12
        h2.sub-heading.product__heading!= content.index.product.heading
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        .slider
          each product, count in content.index.product.items
            +sliderCols(count)
              .slider__item
                .slider__photo
                  img.img-responsive.slider__img(src = hostname + 'img/' + product.img.src, alt = product.img.alt)
                .slider__descr!= product.descr
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        .company
          each image, count in content.index.product.company.img
            .company__item
              img.img-responsive.company__img(src=hostname + 'img/logo/' + image.src, alt=image.alt)