section.video(data-youtube='8z9kooDFTSE')
  h2.sub-heading.video__heading!= content.index.video.heading
  a#video__play.video__play(href='#')
    img.img-responsive.video__img(src=hostname + 'img/' + content.index.video.img.src, alt=content.index.video.img.alt)
