//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$preloader-bg:                     #17607d
$preloader-color:                  #fff

$font-sans-serif:                  sans-serif
$main-font:                       'PTSansProNarrow', $font-sans-serif


$text-danger:                     #b94a48
$form-control-error-border-color: #b94a48

$body-bg:                         #070707

//== Buttons
//
//## For each buttons, define text, background and border color.
$btn-submit-loading-bg:           linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)

$btn-default-bg:                  #ebebeb
$btn-default-bgi:                 linear-gradient(to top, #ddd 0%, #fefefe 100%)
$btn-default-border:              #cfcfcf
$btn-default-box-shadow:          0 17px 21px rgba(0, 0, 0, 0.13)
$btn-default-color:               #00091e

$btn-orange-bg:                   #f99515
$btn-orange-bg-hover:             $btn-orange-bg * 1.4
$btn-orange-color:                #fff
$btn-orange-box-shadow:           0 21px 59px rgba(249, 149, 21, 0.5)

$text-default-color:              #0a0a0a

//== Navbar
$navbar-bg:                       #181818
$navbar-bg-hover:                 $navbar-bg * 1.4
$navbar-text:                     #fff
$navbar-text-border:              #fff
$navbar-border:                   #282828

//== Header
$header-text:                     #fff

//== Age
$age-color:                       #fff
$age-shadow-color:                #fff

//== Action
$action-bg:                       #fff
$action-text:                     #00091e

//== Product
$product-bg:                      #fff
$slider-descr-color:              #282828       

//== Promo
$registration-bg:                 #fff
$registration-border:             #ddd
$registration-rule-color:         #000

//== Form
$form-input-bg:                   #f3f3f3
$form-input-bgi:                  linear-gradient(to top, #eaeaea 0%, #fcfcfc 100%)
$form-input-color:                #000
$form-input-border:               #ebebeb
$form-sub-heading-color:          #898989
$addon-color:                     #b9b9b9
$select-bg:                       #cdd4d8
$select-group-border:             #ecf1f2

//== Example
$example-color:                   #f18b00





