+comment('general style')

+cm('form')
.text-danger
  color: $text-danger
  text-align: left
.form-group.error
  .form-control
    border-color: $form-control-error-border-color
[type=submit]:disabled
  animation: progress-bar-stripes 2s linear infinite
  background-image: $btn-submit-loading-bg
  background-size: 40px 40px
@keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
+cm('icons')
+ic
.ic
  &:before
    background-size: contain
    background-repeat: no-repeat
  &--plane
    &:before
      background-image: url(../img/icons/navigation.png)
  &--cinema
    &:before
      background-image: url(../img/icons/film-roll.png)
+rx(767)
  .ic
    &--marvel
      &:before
        width: 39px
        height: 9px
        background-image: url(../img/marvel-s.png)
    &--spidermanBlack
      &:before
        width: 277px
        height: 55px
        background-image: url(../img/spiderman-black-m.png)
    &--spidermanWhite
      &:before
        width: 278px
        height: 54px
        background-image: url(../img/spiderman-white-m.png)
    &--real3dWhite
      &:before
        width: 88px
        height: 10px
        background-image: url(../img/real3d-white-s.png)
    &--real3dBlack
      &:before
        width: 104px
        height: 12px
        background-image: url(../img/real3d-black-s.png)
    &--plane
      &:before
        width: 27px
        height: 27px
    &--cinema
      &:before
        width: 22px
        height: 25px
+r(768)
  .ic
    &--marvel
      &:before
        width: 68px
        height: 15px
    &--spidermanBlack
      &:before
        width: 432px
        height: 85px
        background-image: url(../img/spiderman-black-s.png)
    &--spidermanWhite
      &:before
        width: 478px
        height: 94px
        background-image: url(../img/spiderman-white-s.png)
    &--real3dWhite
      margin-top: -3px
      &:before
        width: 151px
        height: 17px
        background-image: url(../img/real3d-white-s.png)
    &--real3dBlack
      &:before
        width: 162px
        height: 18px
        background-image: url(../img/real3d-black-s.png)
    &--plane
      &:before
        width: 27px
        height: 27px
    &--cinema
      &:before
        width: 22px
        height: 25px
+r(1000)
  .ic
    &--marvel
      &:before
        width: 105px
        height: 23px
        background-image: url(../img/marvel.png)
    &--spidermanBlack
      &:before
        width: 618px
        height: 122px
        background-image: url(../img/spiderman-black.png)
    &--spidermanWhite
      &:before
        width: 742px
        height: 145px
        background-image: url(../img/spiderman-white.png)
    &--real3dWhite
      &:before
        width: 235px
        height: 27px
        background-image: url(../img/real3d-white.png)
    &--real3dBlack
      &:before
        width: 232px
        height: 26px
        background-image: url(../img/real3d-black.png)
    &--plane
      &:before
        width: 39px
        height: 39px
        background-image: url(../img/icons/navigation.png)
    &--cinema
      &:before
        width: 32px
        height: 36px
        background-image: url(../img/icons/film-roll.png)
+cm('heading')
.sub-heading
  margin: 0
  color: $text-default-color
  text-transform: uppercase
  font: 300 40px/42px $main-font
+rx(767)
  .sub-heading
    font: 300 20px/22px $main-font
+r(768)
  .sub-heading
+r(1000)
  .sub-heading
    font-size: 59px
    line-height: 61px
+cm('buttons')
.btn
  min-width: 251px
  padding: 11px 15px
  letter-spacing: 1.33px
  &--default
    background-color: $btn-default-bg
    background-image: $btn-default-bgi
    border: 1px solid $btn-default-border
    border-radius: 4px
    box-shadow: $btn-default-box-shadow
    color: $btn-default-color
    font: 700 16px/28px $main-font
    text-transform: uppercase
  &--orange
    border-radius: 28px
    background-color: $btn-orange-bg
    box-shadow: $btn-orange-box-shadow
    font: 700 20px/32px $main-font
    color: $btn-orange-color
    text-transform: uppercase
  &__icon
    padding: 0 7px
    float: left
+r(768)
  .btn
    &__icon
      padding: 0
+r(1000)
  .btn
    &--default
      padding: 28px 37px 14px
      font: 700 23px/25px $main-font
      letter-spacing: 1.6px
    &--orange
      font: 700 28px/57px $main-font
      border-radius: 42px
+cm('modal')
.modal
  -webkit-overflow-scrolling: touch
  transform: translateZ(0)

+comment('home page style')
.body
  position: relative
  background: url(../img/footer-bg-s.png) no-repeat scroll 50% 100%
  background-color: $body-bg
  &:before
    content: ''
    position: absolute
    display: block
    margin: auto
    left: 0
    right: 0
    bottom: 0
+rx(767)
  .body
    padding-bottom: 302px
    &:before
      width: 180px
      height: 250px
      background: transparent url(../img/footer-icon-m.png) no-repeat scroll 0 0
+r(768)
  .body
    padding-bottom: 634px
    &:before
      width: 416px
      height: 544px
      background: transparent url(../img/footer-icon.png) no-repeat scroll 0 0
+r(1000)
  .body
    background: url(../img/footer-bg.png) no-repeat scroll 50% 100%
    background-color: $body-bg
+comment('section nav style')
.navbar
  margin: 0
  background-color: $navbar-bg
.nav-navbar
  margin: 0
  padding: 0
  text-align: center
  list-style-type: none
  &__item
    display: inline-block
    vertical-align: top
  &__link
    display: block
    color: $navbar-text
    text-transform: uppercase
    &:hover,
    &:focus
      color: $navbar-text
      text-decoration: none
      .nav-navbar__text
        &:before
          width: 100%
  &__text
    position: relative
    border-bottom: 1px dashed $navbar-text-border
    &:before
      content: ''
      position: absolute
      display: block
      width: 0
      height: 1px
      top: 100%
      left: 0
      background: $navbar-text-border
      transition: all .3s ease-out
+rx(767)
  .navbar
    &__container
      padding: 0
  .nav-navbar
    &__item
      display: table-cell
      width: 1%
      border-left: 1px solid $navbar-border
      &:first-of-type
        margin-right: -1px
        border-left: none
    &__link
      padding: 22px 13px
      font: 700 12px/14px $main-font
      &:hover,
      &:focus
        background-color: $navbar-bg-hover
+r(768)
  .nav-navbar
    font: 700 20px/30px $main-font
    &__link
      padding: 33px 13px 29px
    &__text
      border-bottom-width: 2px
      &:before
        height: 2px
+r(1000)
  .nav-navbar
    &__link
      padding: 20px 13px
      font: 700 25px/53px $main-font
+comment('section header style')
.header
  position: relative
  text-align: center
  &__icon
    +coverdiv
    background-position: 50% 0
    background-repeat: no-repeat
    background-size: contain
    z-index: 0
    &:before
      content: ''
      +coverdiv
      background-position: 50% 50%
      background-repeat: no-repeat
      background-size: cover
      z-index: 1
  &__container
    position: relative
    z-index: 2
  &__heading
    margin: 0
    color: $header-text
    text-transform: uppercase
  &__text
    color: $header-text
    text-transform: uppercase
    &--prize
      position: relative
.age
  position: relative
  display: inline-block
  vertical-align: middle
  opacity: .46
  +br(50%)
  color: $age-color
+rx(767)
  .header
    padding: 61px 0 29px
    &__icon
      background-image: url(../img/header-m.png)
      &:before
        background-image: url(../img/header-shadow-m.png)
    &__heading
      padding-bottom: 10px
      font: 300 17px/19px $main-font
      letter-spacing: 5px
    &__text
      &--date
        font: 700 22px/27px $main-font
      &--format
        padding: 10px 0
        font: 900 14px/14px $main-font
      &--prize    
        padding-left: 9px
        font: 900 25px/33px $main-font
  .age
    padding: 7px 0
    width: 22px
    height: 22px
    top: -3px
    right: -9px
    box-shadow: 0 0 0 1px $age-shadow-color 
    font: 300 7px/9px $main-font
+r(768)
  .header
    padding: 109px 38px 40px
    &__icon
      background-image: url(../img/header-s.png)
      &:before
        background-image: url(../img/header-shadow-s.png)
    &__heading
      font: 300 30px/33px $main-font
      letter-spacing: 8px
    &__text
      line-height: 50px
      &--date
        font: 700 39px/51px $main-font
        letter-spacing: 1.5px
      &--format
        font: 700 24px/43px $main-font
        letter-spacing: 2.3px
      &--prize   
        padding-left: 49px
        font: 900 43px/65px $main-font
        letter-spacing: 1px
  .age
    padding: 12px 0
    width: 39px
    height: 39px
    top: -10px
    right: -15px
    box-shadow: 0 0 0 2px $age-shadow-color 
    font: 300 14px/18px $main-font
+r(1000)
  .header
    padding: 127px 90px 62px
    &__icon
      background-image: url(../img/header.png)
      &:before
        background-image: url(../img/header-shadow.png)
    &__heading
      font: 300 46px/48px $main-font
      letter-spacing: 10px
    &__text
      line-height: 78px
      &--date
        font-size: 63px
        line-height: 86px
      &--format
        font-size: 40px
        line-height: 70px
      &--prize   
        padding-left: 77px
        font-size: 64px
        line-height: 107px
        letter-spacing: 3px
  .age
    width: 62px
    height: 62px
    top: -16px
    right: -43px
    box-shadow: 0 0 0 3px $age-shadow-color
    font: 300 23px/42px $main-font
    text-transform: uppercase

+comment('section action style')
.action
  overflow: hidden
  text-align: center
  &__container
    position: relative
    background-color: $action-bg
  &__heading
    margin: 0
    letter-spacing: 1.4px
  &__text
    color: $text-default-color
    letter-spacing: 1.1px
    &--format
      padding: 10px 0
      color: $action-text
      text-transform: uppercase
    &--stock
      padding: 10px 0
  &__btn
    margin: 14px
.copyright
  position: absolute
  width: 100%
  top: 0
  left: 15px
  right: -100%
  transform: rotate(-90deg)
  transform-origin: right top 0
  writing-mode: tb-rl
+rx(767)
  .action
    margin-bottom: 38px
    &__container
      padding: 32px 0 0
    &__heading
      padding-bottom: 26px
    &__text
      &--format
        font: 700 23px/25px $main-font
      &--stock
        font: 400 24px/26px $main-font
    &__btn-group
      padding: 15px 0 0
    &__btn
      &--orange
        margin: 0
+r(768)
  .action
    margin-bottom: 20px
    &__container
      padding: 56px 15px 0
    &__heading
      padding-bottom: 33px
    &__text
      &--format
        font: 700 37px/45px $main-font
      &--stock
        font: 400 33px/36px $main-font
    &__btn-group
      padding: 10px 0
    &__btn
      &--orange
        margin-top: 0
+r(1000)
  .action
    margin-bottom: 28px
    &__container
      padding: 71px 15px 0
    &__heading
      padding-bottom: 44px
    &__text
      &--format
        padding: 32px 0
        font-size: 39px
        line-height: 41px
        letter-spacing: 4px
      &--stock
        font-size: 44px
        line-height: 46px
    &__btn
      margin: 24px 12px
      min-width: 360px
      &--orange
        margin: 3px
+comment('section video style')
.video
  margin: 0 -15px
  &__img
    margin: 0 auto
+rx(767)
  .video
    &__heading
      padding: 33px 0 38px
+r(768)
  .video
    &__heading
      padding: 35px 0 64px
      font: 300 27px/29px $main-font
+r(1000)
  .video
    &__heading
      padding: 61px 0 38px
      font: 300 40px/42px $main-font

+comment('section product style')
.product

+comment('section promo style')
.promo

+comment('section footer style')
.footer




