extends base/_layout.pug
block variables

block styles
  // Multiselect CSS
  link(rel="stylesheet" href="css/bootstrap-multiselect.css")
  // Bootstrap DateTimePicker CSS
  link(rel="stylesheet" href="css/bootstrap-datetimepicker.css")

block scripts
  // Bootstrap Date TimePicker JavaScript
  script(src='js/moment-with-locales.js')
  script(src='js/bootstrap-datetimepicker.js')
  // Bootstrap Multy Select JavaScript
  script(src='js/bootstrap-multiselect.js')
  // Bootstrap Validation JavaScript
  script(src='js/validator.js')
  script(src='js/contact_me.js')
  // Masked Input JavaScript
  script(src='js/jquery.maskedinput.js')


block content
  include components/_nav.pug
  include partials/_header.pug
  include partials/_action.pug
  include partials/_product.pug
  include partials/_promo.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug